<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <p>
      Your expertise is required! Please vote for a few <%= link_to "matchups",   '#' %>. </br></br>

      Once you're done, you can see your own ranking in <%= link_to "results",   '#' %>.
    </p>
  </body>
</html>