<% provide(:title, "Matchups") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>
      DynamicPages#matchups
    </h1>
    <p>
      Find me in app/views/dynamic_pages/matchups.html.erb
    </p>
  </body>
</html>