<% provide(:title, "Matchups") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>
      DynamicPages#matchups
    </h1>
    <p>
      Find me in app/views/dynamic_pages/matchups.html.erb
    </p>
    
    <div class="bgimg-1">
      Go <%= link_to "Home", root_path %>
    </div>

  </body>
</html>