<% provide(:title, "Matchups") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>
      CLAYTALITY!
    </h1>

    <div class="bgimg-1">
      This page is no longer in use.
    </div>
    
    <div class="bgimg-1">
      Go <%= link_to "Home", root_path %>
    </div>

  </body>
</html>