<% provide(:title, "Results") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>
      DynamicPages#results
    </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DGs6TDeXo8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <div class="bgimg-1">
      Go <%= link_to "Home", root_path %>
    </div>

  </body>
</html>