<% provide(:title, "Create") %>
<h1>Athletes#create</h1>
<p>PLEASE DO NOT USE THIS YET</p>


<div class="bgimg-1">
  <%= render 'form' %>
</div>

<div class="bgimg-1">
  <%= link_to "View", index_path %> existing athletes.
  </br>
  Go <%= link_to "home", root_path %>.
</div>