<% provide(:title, "Edit Athlete") %>
<h1>Athletes#edit</h1>
<p>PLEASE DO NOT USE THIS YET</p>


<div class="bgimg-1">
  <%= render 'form' %>
</div>

<div class="bgimg-1">
  <%= link_to "Go back", show_path %> to existing athletes.
  </br>
  Go <%= link_to "home", root_path %>.
</div>