<% provide(:title, "Matchup!") %>

<h2>
  Who wins?
  <br>
</h2>
<% @athlete_array = [] %>
<% @athletes.each do |a| %>
  <h1 class="matchup-tray">
    <%= link_to "#{a.name.titleize} (#{a.level})", rating_up_athlete_url(a), :method => :put %>
  </h1>
  <% @athlete_array.push(a) %>
<% end %>
<h2>
  <%= link_to "It's a tossup", matchup_path %>
</h2>

<h3>
  View <%= link_to "Results", index_path %>
  <br>
  Go <%= link_to "Home", root_path %>
</h3>