<% provide(:title, "Matchup!") %>
<!DOCTYPE html>

<h2>
  Who wins?
  <br>
</h2>
<% @athletes.each do |a| %>
  <h3 class="matchup-tray"><%= link_to a.name, '#' %></h3>
<% end %>
<h2>
  <%= link_to "It's a tossup", '#' %>
</h2>

<h3>
  Go <%= link_to "Home", root_path %>
</h3>