// Place all the styles related to the DynamicPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


$nav_color: rgba(20, 26, 30, 0.65);
$nav_text_color: white;
$nav_font: "Lato", "Helvetica", sans-serif;

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.alert {
  border-style: dotted;
  border-width: 2px;
}

.alert-success {
  border: #263238;
  color: whitesmoke;
}

.alert-error {
  border: red;
  color: whitesmoke;
}

a {
  &:link {
    color: #ececec;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: #ececec;
  }
}

ul {
	list-style: none inside;
	padding: 0;
}

/* header */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  font-family: $nav_font;
  color: $nav_text_color;
  background: $nav_color;
  z-index: 1;
}
.navbar-site-emblem {
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  a:link a:visited {
    color: $nav_text_color;
  }
}

/* nav tablet and screen head and content */ 
@media (min-width: 800px) {
  .dropdown {
    display: none;
  }
  
  .navbar-site-emblem {
  float: left;
  font-size: 30px;
  padding: 20px 2rem;
  }

  .big-nav {
    display: flex;
    margin-top: 35px;
    justify-content: center;
  }

  .nav-links {
    padding: 0 30px;
  }
}

/* nav mobile device header drop-down menu */
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .navbar-site-emblem {
    float: right;
    font-size: 25px;
    padding: 25px 1rem;
  }
  .dropdown {
    float: left;
    background-color: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 26px;
  }
  .dropdown:hover .dropdown-nav {
    color: white;
    padding-bottom: 10px;
  }
  .dropdown:hover .dropdown-items {
    display: inline-block;
  }
  .dropdown-items {
    display: none;
    margin-top: 27px;
    left: 0;
    font-size: 1.1rem;
    background: $nav_color;
    position: absolute;
    z-index: 1;
  }
  .drop-btn {
    right: 10;
    padding: 5px;
  }
}

// every page
.content {
  margin: 3%;
  margin-top: calc(3% + 100px);
  padding: 5%;
  min-height: calc(100% - 200px);
  background: #263238;
}

// matchups
.matchup-tray {
  display: inline-block;
  text-align: center;
  padding: 5%;
  width: 35%;
}

// player info display
.show-tray {
  display: inline-block;
  text-align: left;
  padding: 0 15px;
  border-style: dotted;
  margin-right: 10px;
  max-width: 35%;
}

// footer
.footer {
  padding: 0 80px;
  height: 100px;
  position: relative;
  color: #ddd;
  text-align: right;
  background-color: #282E34;
}